@using EKart.ViewModels.DegreeProgramViewModels
@model EditDegreeProgramViewModel
<div class="container">
    <form asp-action="Edit" method="post">
        <div class="row">
            <input type="hidden" asp-for="DegreeProgramId"/>
            <div class="mt-2">
                <label for="DegreeProgramTitle">Degree Program Title</label>
                <input asp-for="DegreeProgramViewModel.DegreeProgramTitle" class="form-control" />
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-success w-100" value="submit">Update!</button>
            </div>
        </div>
    </form>
</div>
